.vs/TryOSInstaller/v15/Server/sqlite3/db.lock
.vs/TryOSInstaller/v15/Server/sqlite3/storage.ide
.vs/TryOSInstaller/v15/Server/sqlite3/storage.ide-shm
.vs/TryOSInstaller/v15/Server/sqlite3/storage.ide-wal
TryOSInstaller/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
